<div class="main">
 <div class="contents">
    <div class="success">
      <h3>
        連絡帳が送信されました！
      </h3>
      <%=link_to "トップへ戻る", root_path, class: :success_btn%>
    </div>
    <div class="second_pict"><%= image_tag "775447.png", size: "400x600" %></div>
    <div class="success_comment">
     <p>今日も1日いい日でありますように</p>
   </div>
 </div>
</div>
