.main {
  width: 100vw;
  min-height: 100vh;
  background-size: cover;
  display: flex;
  flex-direction: column;
}

.form_wrap {
  font-size: 20px;
  font-family: Hannotate SC;
  text-align: center;
}

.date-greeting {
  font-size: 40px;
}

.today_book p {
  font-size: 30px;
  display:inline-block;
  vertical-align:top; 
}

.form-presence {
  font-size: 25px;
}

.form-attendance {
  font-size: 25px;
}

.form-absence {
  font-size: 25px;
}

.attendance-list {
  list-style: none;
}

.absence-list {
  list-style: none;
}